@using AgenziaConsulenzaAMM.MVC.Models.Dipendente
@model DipendenteViewModel

@{
    var mansioniList = ViewBag.Mansioni as List<SelectListItem>;
}

@{
    ViewData["Title"] = "Create Dipendente";
}

<h1>@ViewData["Title"]</h1>

<h4>Dipendente</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
              
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Id" class="control-label"></label>
                <input asp-for="Id" class="form-control" />
                <span asp-validation-for="Id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Nome" class="control-label"></label>
                <input asp-for="Nome" class="form-control" />
                <span asp-validation-for="Nome" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cognome" class="control-label"></label>
                <input asp-for="Cognome" class="form-control" />
                <span asp-validation-for="Cognome" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DataNascita" class="control-label"></label>
                <input asp-for="DataNascita" class="form-control" />
                <span asp-validation-for="DataNascita" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DataAssunzione" class="control-label"></label>
                <input asp-for="DataAssunzione" class="form-control" />
                <span asp-validation-for="DataAssunzione" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Mansione" class="control-label"></label>
                @*<select asp-for="Mansione" class="form-control" items-list="mansioniList"></select  >*@
                @Html.DropDownListFor(model => model.Mansione,
                       ViewBag.Mansioni as List<SelectListItem>, "-- Seleziona una mansione --",
                       new { @class = "form-control" })
                <span asp-validation-for="Mansione" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CostoOrarioAzienda" class="control-label"></label>
                <input asp-for="CostoOrarioAzienda" class="form-control" />
                <span asp-validation-for="CostoOrarioAzienda" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
                Or
                <a role="button" class="btn btn-success" asp-controller="Dipendente" asp-action="Index">Back</a>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
